.header__logo {
    width: 15rem;
    height: 2.4rem;
}

.header__title {
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 2.6rem;
    color: var(--bg-primary);
}

@media (min-width: 768px) {
    .header__title {
        font-size: 3.2rem;
        line-height: 3.6rem;
    }
}

@media (min-width: 1024px) {
    .header__title {
        font-size: 4rem;
        line-height: 4.4rem;
    }
}

.header__description {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.8rem;
    color: var(--secondary-color);
    margin-top: 2.5rem;
}

@media (min-width: 768px) {
    .header__description {
        font-size: 1.6rem;
        line-height: 2rem;
    }
}

@media (min-width: 1024px) {
    .header__description {
        font-size: 1.8rem;
        line-height: 2.2rem;
    }
}

.header__button {
    position: absolute;
    bottom: -2.4rem;
    display: block;
    padding: 1.5rem;
    width: 23rem;
    height: 4.8rem;
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--text-primary);
    background-color: var(--bg-primary);
    border-radius: 4px;
    text-decoration: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    box-shadow: 0px 4px 8px #c5c4c4;
}

.header__button-icon {
    background-image: url('/assets/icons/arrow_down.svg');
    display: inline-block;
    width: 20px;
    height: 16px;
    margin-left: 2px;
}

/* ======================= SECTION DE INTERCAMBIO ======================= */
.exchange__content {
    width: 90%;
    margin: 0 auto;
}

@media (min-width: 768px) {
    .exchange__content {
        width: 80%;
    }
}

.exchange__title {
    margin-top: 30px;
    font-size: 2.4rem;
    line-height: 2.6rem;
    color: var(--text-primary);
    margin-bottom: 20px;
}

@media (min-width: 768px) {
    .exchange__title {
        font-size: 3rem;
        line-height: 3.4rem;
    }
}

@media (min-width: 1024px) {
    .exchange__title {
        font-size: 3.4rem;
        line-height: 3.8rem;
    }
}

.exchange__description {
    color: var(--text-tertiary);
    font-size: 1.4rem;
}

@media (min-width: 768px) {
    .exchange__description {
        font-size: 1.6rem;
        line-height: 2.6rem;
        max-width: 60rem;
        margin: 0 auto;
    }
}

@media (min-width: 1024px) {
    .exchange__description {
        font-size: 1.8rem;
        max-width: 70rem;
        margin: 0 auto;
    }
}

/* ======================= SECTION DE MONEDAS ======================= */
.exchange-info__currencies {
    width: 90%;
    margin: 4rem auto;
    padding: 0 1.5rem;
}

@media (min-width: 768px) {
    .exchange-info__currencies {
        width: 80%;
    }
}

.currencies__title {
    font-size: 1.8rem;
    color: var(--primary-color);
    text-align: left;
    font-weight: 500;
    width: 70%;
    margin: 0 auto;
}

@media (min-width: 768px) {
    .currencies__title {
        font-size: 2rem;
        margin-bottom: 20px;
        width: 100%;
        text-align: center;
    }
}

@media (min-width: 1024px) {
    .currencies__title {
        font-size: 2.4rem;
    }
}

.currencies__table {
    width: 80%;
    background-color: var(--bg-primary);
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border: 1px solid var(--bg-secondary);
    border-spacing: 0;
    margin: 15px auto;
}

@media (min-width: 1024px) {
    .currencies__table {
        max-width: 60rem;
    }
}

@media (min-width: 1366px) {
    .currencies__table {
        max-width: 60rem;
        margin: 0 auto 3rem;
    }
}

.currencies__table td {
    border-bottom: 1px solid var(--bg-secondary);
    border-right: 1px solid var(--bg-secondary);
    padding: 10px 12px;
    font-size: 1.4rem;
}

@media (min-width: 768px) {
    .currencies__table td {
        padding: 1.4rem 1.6rem;
        font-size: 1.7rem;
    }
}

/* ===== DESKTOP ===== */
@media (min-width: 1024px) {
    .currencies__table td {
        padding: 1.6rem 2rem;
        font-size: 1.8rem;
    }
}

.currencies__table td:first-child {
    color: var(--text-cuaternary);
    font-weight: 500;
    text-align: left;
}

.currencies__table td:last-child {
    color: var(--text-tertiary);
    font-weight: 300;
}

.currencies__table td:last-child span {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-left: 15px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

@media (min-width: 768px) {
    .currencies__table td:last-child span {
        width: 15px;
        height: 15px;
    }
}

@media (min-width: 1024px) {
    .currencies__table td:last-child span {
        width: 20px;
        height: 20px;
    }
}

.currencies__update {
    background-color: var(--secondary-color);
    padding: 8px 12px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    width: fit-content;
    margin: auto;
    font-size: 1.2rem;
}

@media (min-width: 768px) {
    .currencies__update {
        font-size: 1.3rem;
    }
}

@media (min-width: 1024px) {
    .currencies__update {
        font-size: 1.4rem;
    }
}

/* ======================= SECTION DE BENEFICIOS ======================= */
.benefits__content {
    margin: 0 auto;
    text-align: center;
    width: 90%;
}

.benefits__title {
    font-size: 2.4rem;
    color: var(--bg-primary);
    font-weight: 500;
    margin-bottom: 30px;
}

.benefits__description {
    font-size: 1.4rem;
    color: var(--text-quaternary);
}

.benefits__cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin-top: 30px;
}

.benefits-card {
    background-color: var(--text-secondary);
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    padding: 20px;
    text-align: left;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);
}

.benefits-card__title {
    font-size: 1.8rem;
    color: var(--bg-primary);
    font-weight: 600;
    margin-bottom: 10px;
}

.benefits-card__description {
    font-size: 1.4rem;
    color: var(--text-quaternary);
}

.bitcoin__img-container h2 {
    font-size: 2.4rem;
    color: var(--bg-primary);
    padding-top: 80px;
    text-align: center;
}

/*======================== SECTION DE PLANES ======================= */
.plans__header {
    width: 90%;
    margin: 0 auto 40px;
}

.plans__header h2 {
    font-size: 2.5rem;
    color: var(--text-primary);
    line-height: 2.6rem;
    margin-bottom: 15px;
}

.plans__header p {
    font-size: 1.4rem;
    color: var(--text-tertiary);
    font-weight: 400;
}

.plans__slider-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.plan__card {
    background-color: var(--bg-primary);
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);
    min-width: 220px;
    padding: 25px 20px;
}

.plan__bandge {
    position: absolute;
    top: -15px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--primary-color);
    color: var(--bg-primary);
    font-size: 1.4rem;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    padding: 7px 15px;
    font-weight: 500;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

.plan__info-container {
    margin-top: 10px;
}

.plan__card-title {
    font-size: 1.8rem;
    color: var(--text-primary);
    font-weight: 600;
    margin-bottom: 10px;
}

.plan__card-price {
    font-size: 6rem;
    font-weight: 600;
    color: var(--text-primary);
}

.plan__card-price sup {
    position: relative;
    font-size: 1.5rem;
    top: -10px;
    margin-right: 4px;
    font-weight: 400;
}

.plan__card-description {
    font-size: 1.2rem;
    color: var(--text-tertiary);
    margin: 15px 0;
}

.plan__card-button {
    background-color: var(--bg-secondary);
    border: 2px solid var(--primary-color);
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    padding: 10px 20px;
    font-size: 1.2rem;
    font-weight: 500;
    display: inline-flex;
    align-items: center;
}

.carousel__button {
    background: none;
    border: none;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    cursor: pointer;
}