header {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Centrar horizontalmente */
    justify-content: center;
    /* Centrar verticalmente */
    width: 100%;
    min-width: 32rem;
    height: 33rem;
    text-align: center;
    background: linear-gradient(207.8deg, var(--text-primary) 16%, var(--primary-color) 100%);
}

.header__title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    max-width: 900px;
    min-width: 288px;
    margin-top: 40px;
}

@media (min-width: 768px) {
    .header__title-container {
        width: 80%;
    }
}

main {
    width: 100%;
    min-width: 320px;
    height: auto;
    background-color: var(--bg-secondary);
}

.exchange {
    width: 100%;
    height: auto;
    padding-top: 80px;
    padding-bottom: 40px;
    text-align: center;
}

.benefits {
    width: 100%;
    height: auto;
    padding-top: 80px;
    padding-bottom: 40px;
    background-color: var(--text-primary);
}

.bitcoin__img-container {
    width: 100%;
    height: 50vh;
    background-image: url('https://res.cloudinary.com/cflores/image/upload/v1765639574/mobile-firts/bitcoinbaby_kbogfv.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.plans {
    width: 100%;
    height: auto;
    padding-top: 80px;
    padding-bottom: 40px;
    /* padding: 80px 0 40px; */
    text-align: center;
}