.d-none {
    display: none;
}

.trend-down {
    background-image: url(/assets/icons/trending-down.svg);
}

.trend-up {
    background-image: url(/assets/icons/trending-up.svg);
}

.icon__arrow-right {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url(/assets/icons/arrow-right.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.carousel__button-prev {
    background-image: url(/assets/icons/carousel__button_prev.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.carousel__button-next {
    background-image: url(/assets/icons/carousel__button_next.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}